<div ng-controller="MainCtrl">
  <div class="col-md-2 sidebar">
    <h1>Gizu</h1>
    <form class="form-horizontal" role="form" style="padding-right:20px;margin:auto;">
      <div class="form-group">
        <label for="current">Current {{ data[current].hash }}</label>
        <input type="text" class="form-control input-sm text-center" style="width:100px;display:inline-block;" id="current" ng-model="current">
        <span class="help-block" style="font-size:10px;" ng-if="slider.max > 1" ng-cloak>{{ slider.max }} commits available</span>
        <span class="help-block" style="font-size:10px;" ng-if="slider.max < 1" ng-cloak>{{ slider.max }} commit available</span>
      </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" ng-class="getAnimateBtnClass()"  ng-click="onAnimateBtnClick()"><span class="glyphicon glyphicon-play"></span> Animate ({{ speed.current }} ms)</button>
            <div jq-slider style="margin:auto; margin-top:10px; width:70%;"
            value="speed.current"
            min="speed.min"
            max="speed.max",
            step="speed.step"
            orientation="horizontal">
            </div>
        </div>
    </form>
  </div>
  <div class="col-md-10 content">
    <div class="chart-container">
      <tree-map-chart width="1000" height="400" data="data[current]"></tree-map-chart>
    </div>
    <div jq-slider
    value="slider.current"
    min="slider.min"
    max="slider.max",
    step="slider.step"
    orientation="horizontal"
    class="jq-slider">
    </div>
  </div>
</div>
